* {
    padding: 0;
    margin: 0;
}

.navbar {
    font-size: 16px;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand > a > img {
    margin-left: 10px;
    scale: 2.3;
}

.navbar-item:hover {
    background-color: black;
    scale: 1.08;
}

.logo-static { 
    scale: 1 !important ;
    color: white !important ; 
    cursor:pointer !important ;
}

.pk-time {
    font-size: 15px;
}

.footer {
    text-align: center;
    padding: 3rem !important;
}

.footer > div > p {
    font-size: 18px;
}

.main-sect {
    padding: 2rem;
    background-color: white;
    color: black;
}

.button.is-fullwidth {
    width: 50%;
    margin: 0 auto;
}