{% extends 'base.html' %}

{% block title %}Home - My Project{% endblock %}

{% block content %}

{% load static %}

    <!-- Navbar -->
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item logo-static" href="{% url 'home' %}">
                <img src="{% static 'images/logo.svg' %}" alt="Logo" width="140" height="40">
            </a>
            <!-- Placeholder for current time -->
            <div class="navbar-item logo-static pk-time" style="cursor:text !important;">
                <span id="current-time"></span>
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'intelisense' %}">
                    <img src="{% static 'images/user-check-solid-24.png' %}" width="25"> InteliSense
                </a>
                <!-- <a class="navbar-item" href="dashboard">
                    <img src="{% static 'images/bell-ring-solid-24.png' %}" width="18"> Check Activity
                </a> -->
                <a class="navbar-item" href="report">
                    <img src="{% static 'images/shield-quarter-regular-24.png' %}" width="20"> Report
                </a>
                <a class="navbar-item" href="help">
                    <img src="{% static 'images/help-circle-24.png' %}" width="20"> Help
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="title has-text-centered my-4">Video Dashboard</h1>
        <div class="columns is-multiline">
            {% for video in videos %}
                <div class="column is-one-third">
                    <div class="box">
                        <figure class="image">
                            <video class="is-fullwidth" controls>
                                <source src="{{ MEDIA_URL }}{{ video.file_path }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </figure>
                        <div class="content">
                            <h5 class="title is-5">{{ video.title }}</h5>
                            <p>
                                Duration: {{ video.duration }}<br>
                                Recorded on: {{ video.recorded_timestamp }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
