{% extends 'base.html' %}

{% block title %}ArkTrack System | Help{% endblock %}

{% block content %}

{% load static %}

    <!-- Navbar -->
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item logo-static" href="{% url 'home' %}">
                <img src="{% static 'images/logo.svg' %}" alt="Logo" width="140" height="40">
            </a>
            <div class="navbar-item logo-static pk-time" style="cursor:text !important;">
                <span id="current-time"></span>
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'home' %}">
                    <img src="{% static 'images/bell-ring-solid-24.png' %}" width="18"> Home
                </a>
                <a class="navbar-item" href="{% url 'dashboard' %}">
                    <img src="{% static 'images/shield-quarter-regular-24.png' %}" width="18"> Dashboard
                </a>
                <a class="navbar-item" href="{% url 'report' %}">
                    <img src="{% static 'images/bell-ring-solid-24.png' %}" width="20"> Report
                </a>
            </div>
        </div>
    </nav>

    <!-- help page instructions -->
    <section>
        <div class="container m-6">
            <div class="content">
                <h2 class="title is-3">About <b style="color: rgb(30, 192, 197);">ArkTrack System</b></h2>
                
                <ul>
                    <li>
                        <h4 class="title">Surveillance Feeds:</h4>
                        <p style="margin-bottom: 2%;">Surveillance feeds are available on the <a href="{% url 'home' %}" class="has-text-danger">Home</a> page. There are <b>3 Security Feeds</b> | Tracker A Feed | Tracker B Feed | Live Feed</p>
                    </li>
                    <li>
                        <h4 class="title">IntelliSense Model:</h4>
                        <p style="margin-bottom: 2%;">If your system is capable of handling the computational load of the <b>IntelliSense Classification Model</b>, you can enable it in  <a href="{% url 'home' %}" class="has-text-danger">Home</a> page on Tracker A Feed.</p>
                    </li>
                    <li>
                        <h4 class="title">Manage Recordings:</h4>
                        <p style="margin-bottom: 2%;">To <b>View or Delete</b> system recordings visit the <a href="{% url 'dashboard' %}" class="has-text-danger">Dashboard</a> page.</p>
                    </li>
                    <li>
                        <h4 class="title">Email Management:</h4>
                        <p style="margin-bottom: 2%;"> If a recording is captured, you will receive an Email Alert. Visit your associated <a href="#" class="has-text-danger">Email</a> account to monitor notifications.</p>
                    </li>
                    <li>
                        <h4 class="title">Alert Authorities:</h4>
                        <p style="margin-bottom: 2%;">If you wish to alert the Authorities urgently in case of suspicious or concerning activity, visit the <a href="{% url 'report' %}" class="has-text-danger">Report</a> page immmediately!</p>
                    </li>
                </ul>
                
                <p class="has-text-grey">For further assistance, email us at <a href="#" class="has-text-primary">support@arktracksystem.com</a></p>
            </div>
        </div>
    </section>
    
{% endblock %}