{% extends 'base.html' %}

{% block title %}Home - My Project{% endblock %}

{% block content %}
    <section class="main-sect">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec
                    id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus
                    et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
                    consectetur purus sit amet fermentum.
                </div>
            </div>
        </div>

        <!-- Grid Layout for Webcam and Motion Detection Feeds -->
        <div class="container">
            <div class="columns">
                <!-- Webcam Feed Container -->
                <div class="column is-half">
                    <div class="box">
                        <h4 class="title is-4">Webcam Feed</h4>
                        <a href="/webcam_feed">fullscreen</a>
                        <img id="webcam-feed" src="{% url 'webcam_feed' %}" alt="Webcam Feed" class="image is-16by9">
                    </div>
                </div>

                <!-- Motion Detection Feed Container -->
                <div class="column is-half">
                    <div class="box">
                        <h4 class="title is-4">Motion Detector Feed</h4>
                        <a href="/motion_detector_feed">fullscreen</a>
                        <img id="motion-detection-feed" src="{% url 'motion_detector_feed' %}" alt="Motion Detection Feed" class="image is-16by9">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
