{% extends 'base.html' %}

{% block title %}ArkTrack System | Home{% endblock %}

{% block content %}

{% load static %}

    <!-- Navbar -->
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item logo-static" href="{% url 'home' %}">
                <img src="{% static 'images/logo.svg' %}" alt="Logo" width="140" height="40">
            </a>
            <div class="navbar-item logo-static pk-time" style="cursor:text !important;">
                <span id="current-time"></span>
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'dashboard' %}">
                    <img src="{% static 'images/shield-quarter-regular-24.png' %}" width="18"> Dashboard
                </a>
                <a class="navbar-item" href="{% url 'report' %}">
                    <img src="{% static 'images/bell-ring-solid-24.png' %}" width="20"> Report
                </a>
                <a class="navbar-item" href="{% url 'help' %}">
                    <img src="{% static 'images/help-circle-24.png' %}" width="20"> Help
                </a>
              </div>
        </div>
    </nav>

    <section class="main-sect">
        <div class="card">
            <div class="card-content">
                <div style="text-align: center;" class="content">
                    Hello! Welcome to the <b>ArkTrack System</b> Surveillance Environment. Monitor and Enhance the security of your Environment with our Intelligent System. 
                </div>
            </div>
        </div>

            <div class="columns">
                <!-- Tracker A Feed -->
                <div class="column is-half">
                    <div class="box">
                        <h4 class="title is-4">Tracker A | Feed</h4>
                        <form method="POST" id="toggleForm">
                            {% csrf_token %}
                            <label for="intellisenseToggle">Enable Intellisense: </label>
                            <input type="checkbox" id="intellisenseToggle" name="intellisense_active" {% if intellisense_active %} checked {% endif %}>
                            <button style="color: rgb(254, 254, 254); margin-left: 2%; padding: 5px; background-color: rgb(166, 23, 23); border-radius: 30px;" type="submit">Apply Changes</button>
                        </form>

                        <a style="color: brown;" href="/tracker-main">fullscreen</a>
                        <img id="webcam-feed" src="{% url 'main_feed' %}" alt="Webcam Feed" class="image is-16by9">
                    </div>
                </div>

                <!-- Tracker B Feed -->
                <div class="column is-half">
                    <div class="box">
                        <h4 class="title is-4">Tracker B | Feed</h4>
                        <a style="color: brown;" href="/tracker-sub"> fullscreen </a>
                        <img id="motion-detection-feed" src="{% url 'sub_feed' %}" alt="Motion Detection Feed" class="image is-16by9">
                    </div>
                </div>
            </div>
        </div>
        <!-- Live Camera Feed -->
        <div class="container">
            <div class="columns is-fullwidth">
                <div class="column">
                    <div class="box">
                        <h4 class="title is-4">Live Camera | Feed</h4>
                        <a style="color: brown;" href="/camera-main">fullscreen</a>
                        <img id="camera-feed" src="{% url 'camera_feed' %}" alt="Camera Feed" class="image is-16by9">
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
